@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-size: 16px;
  color: #1C1335;
}

a {
  color: #FA4A84;
}

.focus\:input-border-gradient:focus {
  background: linear-gradient(to right, #F4F8FB, #F4F8FB),
  linear-gradient(270deg, #00D2FF -8.34%, #7E51FF 50.93%, #FA4A84 106.85%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

.btn {
  background-color: #FA4A84;
  color: white;
  padding: 1rem 2.75rem;
  border-radius: 0.375rem;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;

  
  &:hover {
    background-color: #e43871;
  }

  &--secondary {
    background-color: white;
    color: #FA4A84;
    border: 2px solid #FA4A84;

    &:hover {
      background-color: #FA4A84;
      color: white;
    }
  }

  &--small {
    padding: 0.25rem 0.5rem;
  }
}

sub {
  bottom: 0;
}